/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
db-data/
/db-data
db-data-2/
/db-data-2
testware-files/
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor/kyslik
_ide_helper.php
git_update.py
update.py
db.env
.DS_Store
app.env
docker‚-compose.yml
